body {
    margin: 0;
    height: 100vh;
    position: relative; /* Change to position relative */
    background-color: #a9b6f3;
}

.gameGrid {
    position: absolute; /* Change to position absolute */
    top: 50%; /* Position at 50% from the top */
    left: 50%; /* Position at 50% from the left */
    transform: translate(-50%, -50%); /* Center the grid */
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    border: 3px solid black;
    box-sizing: border-box;
}

.gameSquare {
    position: absolute; /* Change to position absolute */
    text-align: center;
    font-size: 50px;
    border: 2px solid #521a1b;
    box-sizing: border-box;
    transition: left 0.5s, top 0.5s;
    background-color: #F15156;
    line-height: 150px;
}
.column1 {
    left: 0;
}
.column2 {
    left: 33.333333%;
}
.column3 {
    left: 66.666666%;
}
.row1 {
    top: 0;
}
.row2 {
    top: 33.333333%;
}
.row3 {
    top: 66.666666%;
}
.solveButton {
    position: absolute;
    top: 90%;
    left: 43%;
    transform: translate(-50%, -90%);
    text-align: center;
    width: 200px;
    height: 50px;
    font-size: large;
}
.randomButton {
    position: absolute;
    top: 90%;
    left: 57%;
    transform: translate(-50%, -90%);
    text-align: center;
    width: 200px;
    height: 50px;
    font-size: large;
}